
<div class="card well well-sm " *ngFor="let info of (infosSort(infos))">
                            <div class="card-body ">
                                <div class="row ">
                                    <div class="col-12 col-sm-2 col-md-2 col-lg-2 ">
                                        <img alt="loading " [src]='info.Logo'>
                                    </div>
                                    <div class="col-12 col-sm-8 col-md-8 col-lg-8 ">
                                        <h4><a [routerLink]="['/details',info.ID]">{{info.Name}}</a></h4>
                                        <label for=" " style="position: relative;left: 30px; " class="noteLabel ">{{info.State}}</label>
                                        <br>
                                        <label for=" ">法定代表人：</label>
                                        <p>{{info.BossName}}</p>
                                        <label for=" ">注册资本：</label>
                                        <p id="capital ">{{info.RegisterMoney}}</p>
                                        <label for=" ">注册时间：</label>
                                        <p>{{info.RegisterDate}}</p>
                                        <br>
                                        <label for=" ">联系电话：</label>
                                        <p>{{info.Phone}}</p>
                                        <br>
                                        <label for=" ">经营范围：</label>
                                        <p>{{mainProductLimit(info.MainProduct,45)}}</p>
                                    </div>
                                    <div class="col-12 col-sm-2 col-md-2 col-lg-2 ">
                                        <h4></h4>
                                        <br>
                                        <br>
                                        <p>{{info.Region}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
  