
<div class="panel panel-default">
  <div class="panel-heading">
    <p class="bold">对外投资</p><span class="badge" id="shareholderNumber">{{holdersFilter(hoders.children).length}}</span></div>
  <!--做出分页效果，每一页显示10个左右-->
  <div class="panel-body row">
    <table
      class="col-12 col-sm-12 col-md-12 col-lg-12 table-hover table-condensed table-bordered table-hover investment">
      <thead>
      <tr>
        <td>被投资公司名称</td>
        <td>被投资法定代表人</td>
        <td>注册资本</td>
        <td>投资数额</td>
        <td>投资占比</td>
        <td>注册时间</td>
        <td>状态</td>
      </tr>
      </thead>
     <tbody>
                          <tr *ngFor="let hoder of holdersFilter(hoders.children)">
                            <td><a (click)="toTheCompany(hoder.id)">{{hoder.name}}</a></td>
                            <td><a *ngIf="hoder.detail[0]!=null">
                             {{hoder.detail[0].BossName}}
                            </a>
                            <a *ngIf="hoder.detail[0]==null">
                             -
                            </a></td>
                            <td><p *ngIf="hoder.detail[0]!=null">{{hoder.detail[0].RegisterMoney}}</p>
                              <p *ngIf="hoder.detail[0]==null">-</p></td>

                            <td>{{moneyStringMatch(hoder.value.substring(hoder.value.indexOf("%")+2))}}</td>
                            <td>{{moneyMatch(hoder.value.substring(1,hoder.value.indexOf("%")+1))}}</td>
                            <td><p *ngIf="hoder.detail[0]!=null">{{hoder.detail[0].RegisterDate}}</p><p *ngIf="hoder.detail[0]==null">-</p></td>
                            <td><p *ngIf="hoder.detail[0]!=null">{{hoder.detail[0].State}}</p>
                              <p *ngIf="hoder.detail[0]==null">-</p></td>
                          </tr>
                          </tbody>
    </table>
  </div>
</div>