
<div class="panel panel-default">
  <div class="panel-heading">
    <p class="bold">对外投资</p><span class="badge" id="shareholderNumber">{{this.hoders.children.length}}</span></div>
  <!--做出分页效果，每一页显示10个左右-->
  <div class="panel-body row">
    <table
      class="col-12 col-sm-12 col-md-12 col-lg-12 table-hover table-condensed table-bordered table-hover investment">
      <thead>
      <tr>
        <td>被投资公司名称</td>
        <td>被投资法定代表人</td>
        <td>注册资本</td>
        <td>投资数额</td>
        <td>投资占比</td>
        <td>注册时间</td>
        <td>状态</td>
      </tr>
      </thead>
     <tbody>
                          <tr *ngFor="let hoder of hoders.children">
                            <td><a href="">{{hoder.name}}</a></td>
                            <td><a href="">
                              {{hoder.detail[0].BossName}}
                            </a></td>
                            <td>{{hoder.detail[0].RegisterMoney}}</td>
                            <td>{{moneyStringMatch(hoder.value.substring(hoder.value.indexOf("%")+2))}}</td>
                            <td>{{moneyMatch(hoder.value.substring(1,hoder.value.indexOf("%")+1))}}</td>
                            <td>{{hoder.detail[0].RegisterDate}}</td>
                            <td>{{hoder.detail[0].State}}</td>
                          </tr>
                          
                          </tbody>
    </table>
  </div>
</div>