<!--分页组件参数：pageSize,totalNum,curPage,totalPage-->
<app-search></app-search>

<div class="container-float" style="background-color:#F2F2F2;">
  <div class="row">
    <div class="col-12 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-12 col-sm-10 col-md-10 col-lg-10 center">
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="panel" style="z-index:1;margin:5px 0px 0px 0px;">
        <div class="panel-body">
          <div class="well">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
              <h4>为您找到相关公司<span style="color:#FF4000">&nbsp;{{infosNum.length}}&nbsp; </span>家</h4>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4"></div>
            <div class="col-12 col-sm-2 col-md-2 col-lg-2" style="padding:0;margin:0">
              <form [formGroup]="form">
                <select formControlName="state">
                  <option *ngFor="let state of states" [ngValue]="state">
                    {{ state.abbrev }}
                  </option>
                </select>
              </form>
            </div>
            <br>
          </div>


        </div>

        <app-pages [key]='[this.key]' [pageSize]="3" [totalNum]='[infosNum.length]' [curPage]='[curPage]' [totalPage]='[countPages(infosNum.length,pageSize)]'  (changeCurPage)="getPageData($event)" [sortKey]='[returnSortKey(form.value)]' [sortOrder]='[returnSortOrder(form.value)]'></app-pages>

        <div *ngIf="this.infosNum.length==null||this.infosNum.length==0">


          <div class="col-12 col-sm-1 col-md-1 col-lg-1"></div>
          <h4>404 NotFound</h4>

        </div>


      </div>
      <div class="col-12 col-sm-1 col-md-1 col-lg-1">
      </div>
