  <nav class="center-block container" style="position:fixed;z-index:99;background:#Ffffff">
    <div class="row"><br>
                        <form role="form" class="col-12 col-sm-6 col-md-6 col-lg-6 ui-widget">
                            <ol class="breadcrumb" style="margin:0px;padding:3px 0px 0px 0px;background-color:rgba(0,0,0,0);font-size:110%">
                             <li><a (click)="setName()">查公司</a></li>
                            <li><a (click)="setBossName()">查老板</a></li>
                            <li><a (click)="setProduct()">查业务</a></li>
                            <li><a (click)="setRegion()">查地区</a></li>
                        </ol>
                            <div class="input-group ">
                                <span class="input-group-addon" style="height:40px;color:white;background-color:rgba(9,148,218,0.7);border:none" id="spId"></span>
                                <input class="form-control" [(ngModel)]="key" name ="key" type="text" id="tags" placeholder="请输入企业名称，人名等其他关键词，多关键词用空格隔开" style="height:40px;" autocomplete="off" (keyup)="showAutoComplete()" (keydown)="hideAutoComplete()"/>
                                 <span class="input-group-btn">
                                        <button class="btn btn-default" style="height:40px;font-size-adjust:1.2;color:black; " (click)="toInfos(key,type)">搜索</button>

                                    </span>

                            </div>
                            <div *ngIf="key!=null &&key.length!=0">
                            <ul  id="autoInfo" *ngIf="type=='Name'&& autoInfos.length!=0">
        <li *ngFor="let i of chooseAutoKey(autoInfos)"><a (click)="setKey(i.Name)">{{i.Name}}</a></li>
                            </ul>

                            <ul  id="autoInfo" *ngIf="type=='BossName' && autoInfos.length!=0">
                            <li *ngFor="let i of chooseAutoKey(autoInfos)"><a (click)="setKey(i.BossName)">{{i.BossName}}</a></li></ul>
                            <ul  id="autoInfo" *ngIf="type=='Region' && autoInfos.length!=0">
                            <li *ngFor="let i of chooseAutoKey(autoInfos)"><a (click)="setKey(i.Region)">{{i.Region}}</a></li></ul>
                            </div>
                            
                        </form>                
    </div>
                        
                    </nav>
          <!--          <div  style="margin-top:18%;position:fixed;z-index: 99">

        
            <div class="col-12 col-sm-3 col-md-3 col-lg-3"></div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6" >
                <form role="form">
                           
                            <div class="input-group">
                                <input class="form-control" [(ngModel)]="key" name ="key" type=”text” placeholder="请输入企业名称，人名等其他关键词，多关键词用空格隔开" style="height:45px;"/>
                                <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" style="height:45px;font-size-adjust:1.2" (click)="toInfos(key)">Go!</button>
                                    </span>

                            </div>
                           
                        </form>
            </div>
            <div class="col-12 col-sm-3 col-md-3 col-lg-3"></div>
     
</div>-->