<div  style="margin-top:15%;position:fixed;z-index: 99">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3"></div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6" >
                <form role="form">
<ol class="breadcrumb" style="margin:0px;padding:3px 0px 5px 0px;background-color:rgba(0,0,0,0);font-size:130%">
                            <li><a (click)="setName()">查公司</a></li>
                            <li><a (click)="setBossName()">查老板</a></li>
                            <li><a (click)="setProduct()">查业务</a></li>
                            <li><a (click)="setRegion()">查地区</a></li>

                        </ol>
                        <br>                           <div class="input-group">

                                <span class="input-group-addon" style="height:45px;color:white;background-color:rgba(0,0,0,0.3);border:none" id="spId"></span><input class="form-control" [(ngModel)]="key" name ="key" type=”text” placeholder="请输关键词，多关键词用空格隔开" style="height:45px;" id="text" autocomplete="off" (keyup)="showAutoComplete()" (keydown)="hideAutoComplete()"/>                                <span class="input-group-btn">
                                                                       <button class="btn btn-default" type="button" style="height:45px;font-size-adjust:1.2" (click)="toInfos(key,type)">搜索</button>
                                    </span>
                            </div>
<div *ngIf="key.length!=0">
                            <ul style="background-color:rgba(0,0,0,0.3);" id="autoInfo" *ngIf="type=='Name'&& autoInfos.length!=0">
        <li *ngFor="let i of chooseAutoKey(autoInfos)"><a (click)="setKey(i.Name)">{{i.Name}}</a></li>
                            </ul>                            <ul style="background-color:rgba(0,0,0,0.3);" id="autoInfo" *ngIf="type=='BossName' && autoInfos.length!=0">
                            <li *ngFor="let i of chooseAutoKey(autoInfos)"><a (click)="setKey(i.BossName)">{{i.BossName}}</a></li></ul>
                            <ul  id="autoInfo" *ngIf="type=='Region' && autoInfos.length!=0">
                            <li *ngFor="let i of chooseAutoKey(autoInfos)"><a (click)="setKey(i.Region)">{{i.Region}}</a></li></ul>
                           </div>
                        </form>
            </div>
            <div class="col-12 col-sm-3 col-md-3 col-lg-3"></div>
            <div class="col-xs-12" style="color: white;margin-top:27%;position:fixed;">

                <p style="font-size:120%;text-align: center">© JiangSu Province ChangZhou JinLin Road 200</p>
                <p style="font-size:120%;text-align: center">© Copyright 2018 IceBreaker</p>
            </div>
</div>




<div z-index="1">
<div>
               <img src="https://img2.ph.126.net/1O6smfYUmVIsitHfMmk_XQ==/1791306751887197372.jpg"  style="width:100%;" >
    </div>

</div>
