<div  style="margin-top:15%;position:fixed;z-index: 99">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3"></div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6" >
                <form role="form">
<ol class="breadcrumb" style="margin:0px;padding:3px 0px 5px 0px;background-color:rgba(0,0,0,0);font-size:130%">
                            <li><a (click)="setName()">查公司</a></li>
                            <li><a (click)="setBossName()">查老板</a></li>
                            <li><a (click)="setProduct()">查业务</a></li>

                        </ol>                            <div class="input-group">
                        
                                <input class="form-control" [(ngModel)]="key" name ="key" type=”text” placeholder="请输入企业名称，人名等其他关键词，多关键词用空格隔开" style="height:45px;" id="text" autocomplete="off" (keyup)="showAutoComplete()" (keydown)="hideAutoComplete()"/>                                <span class="input-group-btn">
                                                                       <button class="btn btn-default" type="button" style="height:45px;font-size-adjust:1.2" (click)="toInfos(key,type)">Go!</button>
                                    </span>
                            </div>
<div *ngIf="key.length!=0">
                            <ul style="background-color:rgba(0,0,0,0.3);" id="autoInfo" *ngIf="type=='Name'&& autoInfos.length!=0">
        <li *ngFor="let i of chooseAutoKey(autoInfos)"><a (click)="setKey(i.Name)">{{i.Name}}</a></li>
                            </ul>                            <ul style="background-color:rgba(0,0,0,0.3);" id="autoInfo" *ngIf="type=='BossName' && autoInfos.length!=0">
                            <li *ngFor="let i of chooseAutoKey(autoInfos)"><a (click)="setKey(i.BossName)">{{i.BossName}}</a></li></ul>
                            <ul *ngIf="autoInfos.length==0" style="background-color:rgba(0,0,0,0.3);">
                                <li>
                                    <a>Fail to find "{{key}}"</a>
                                </li>
                            </ul></div>
                        </form>
            </div>
            <div class="col-12 col-sm-3 col-md-3 col-lg-3"></div>

</div>

<div z-index="1">
<div>
               <img src="./background.jpg"  style="width:100%;" >
    </div>

</div>





<div id="container">
  <div id="content">
    <div style="width: 80%; margin-left: auto; margin-right: auto;">
    made by icebreaker
    </div>
  </div>
</div>
