<div>
  <div class="container-float">
    <div class="row">
      <div class="col-12 col-sm-1 col-md-1 col lg-1"></div>
      <div class="col-12 col-sm-10 col-md-10 col-lg-10">
        <app-search></app-search>
        <div class="panel panel-default" style="z-index:1;margin:95px 0px 0px 0px;">
          <div class="panel-body" style="margin:5px 0px 5px 0px">
            <div class="row well" style="margin:5px 0px 5px 0px;">
              <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                <img alt="Trolltunga Norway" [src]='company[0].Logo'>
              </div>
              <div class="col-12 col-sm-9 col-md-9 col-lg-9">
                <h4 name="companyName">{{company[0].Name}}</h4>
                <label for="" style="position: relative;left: 30px;" class="noteLabel" name="companyState">{{company[0].State}}</label>
                <br>
                <div class="row">
                  <div class="col-12 col-xs-6 col-md-6 col-lg-6">
                    <label for="">电话：</label>
                    <p name="phoneNumber">{{company[0].Phone}}</p>
                  </div>
                  <div class="col-12 col-xs-6 col-md-6 col-lg-6">
                    <label for="">官网：</label>
                    <p name="website">{{company[0].Website}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-xs-6 col-md-6 col-lg-6">
                    <label for="">地址：</label>
                    <p name="location" ng-mouseover="showTheWholeInfo(place,$event);">
                      {{company[0].Place}}
                      <a href="#" title="" data-toggle="tooltip" data-placement="bottom" id="tips"
                         style="z-index:1"></a>
                    </p>
                  </div>
                  <div class="col-12 col-xs-6 col-md-6 col-lg-6">
                    <label for="">邮箱：</label>
                    <p name="email">{{company[0].Email}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="panel-footer"></div><-->
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="nav nav-tabs">
                  <li class="active col-12 col-sm-2 col-md-2 col-lg-2 bold"><a href="#details"
                                                                               data-toggle="tab">基本信息</a></li>
                  <li class="disabled col-12 col-sm-2 col-md-2 col-lg-2"><a href="">关系图形：</a></li>
                  <li class="col-12 col-sm-2 col-md-2 col-lg-2"><a href="{{ownershipURL}}" >股权结构</a></li>
                  <li class="col-12 col-sm-2 col-md-2 col-lg-2"><a href = "{{investmentURL}}" >投资族谱</a></li>
                  <li class="col-12 col-sm-2 col-md-2 col-lg-2"><a href= "{{enterpriseURL}}" >企业图谱</a></li>
                  <li class="col-12 col-sm-2 col-md-2 col-lg-2"><a href= "{{relationshipURL}}" >疑似关系</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade in active" id="details">
                    <table class="table table-condensed table-bordered table-striped"
                           ng-controller="showCompanyDetails">
                      <tbody>
                      <tr>
                        <td class="col-12 col-sm-3 col-md-3 col-lg-3">注册资本：</td>
                        <td class="col-12 col-sm-3 col-md-3 col-lg-3">{{detail[0].RegisterMoney}}</td>
                        <td class="col-12 col-sm-3 col-md-3 col-lg-3">成立日期：</td>
                        <td class="col-12 col-sm-3 col-md-3 col-lg-3">
                          {{detail[0].RegisterDate}}
                        </td>
                      </tr>
                      <tr>
                        <td>经营状态：</td>
                        <td>{{detail[0].State}}</td>
                        <td>统一社会信用代码：</td>
                        <td>{{detail[0].UniqueSocietyID}}</td>
                      </tr>
                      <tr>
                        <td>纳税人识别号：</td>
                        <td>{{detail[0].PayPersonID}}</td>
                        <td>注册号：</td>
                        <td>{{detail[0].RegisterID}}</td>
                      </tr>
                      <tr>
                        <td>组织机构代码：</td>
                        <td>{{detail[0].OrganizationID}}</td>
                        <td>公司类型：</td>
                        <td ng-mouseover="showTheWholeInfo(companyType,$event)">{{detail[0].CompanyType}}
                          <a title="" data-toggle="tooltip" data-placement="bottom"></a>
                        </td>
                      </tr>
                      <tr>
                        <td>人员规模：</td>
                        <td>{{detail[0].Faculty}}</td>
                        <td>营业期限：</td>
                        <td>{{detail[0].SellTime}}</td>
                      </tr>
                      <tr>
                        <td>登记机关：</td>
                        <td>{{detail[0].RegisterOrganiztion}}</td>
                        <td>标准日期：</td>
                        <td>{{detail[0].ConfirmDate}}</td>
                      </tr>
                      <tr>
                        <td>英文名：</td>
                        <td>{{detail[0].EnglishName}}</td>
                        <td>曾用名：</td>
                        <td>{{detail[0].EverName}}</td>
                      </tr>
                      <tr>
                        <td>所属地区：</td>
                        <td>{{detail[0].Region}}</td>
                        <td>所属行业：</td>
                        <td>{{detail[0].Profession}}</td>
                      </tr>
                      <tr>
                        <td>企业地址：</td>
                        <td colspan="3">{{detail[0].Place}}</td>
                      </tr>
                      <tr height="70px">
                        <td style=" vertical-align:middle;">经营范围：</td>
                        <td colspan="3">{{detail[0].MainProduct}}</td>
                      </tr>
                      </tbody>
                    </table>
                    <app-main-staff></app-main-staff>
                    <app-the-investment></app-the-investment>
                    <app-shareholder></app-shareholder>

                  </div>

                  <div class="tab-pane fade">

                  </div>

                  <div class="tab-pane fade" >

                  </div>

                  <div class="tab-pane fade" >

                  </div>
                  <div class="tab-pane fade" >

                  </div>
                  <div class="tab-pane fade" >

                  </div>
                  <div class="tab-pane fade" >

                  </div>
                  <a name="ownership"></a>
                  <app-ownership [id]="id" ></app-ownership>
                  <a name="investment"></a>
                  <app-investment [id]="id"></app-investment>
                  <a name="enterprise"></a>
                  <app-enterprise [id]="id"></app-enterprise>
                  <a name="relationship"></a>
                  <app-relationship [id]="id"></app-relationship>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-1 col-md-1 col lg-1"></div>
    </div>
  </div>
</div>

